[project]
name = "repl-nix-workspace"
version = "0.1.0"
description = "Add your description here"
requires-python = ">=3.11"
dependencies = [
    "numpy>=2.3.1",
    "pandas>=2.3.0",
    "prophet>=1.1.7",
    "requests>=2.32.4",
    "scikit-learn>=1.7.0",
]
